<div class="row">
<div class="col-sm-12 border">
<div class="col-sm-6 col-sm-offset-3 inner-box "> 
<div class ="page-header text-center well well-sm">
<h1>Sign up</h1>
</div>
<hr/>
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.label :email,"Email" , class: "highlight-label"%>
    <%= f.input :email, required: true, autofocus: true,placeholder: "Email Address" ,label: false%>
    <hr/>
    <%= f.label :password,"Password", class: "highlight-label"%>
    <%= f.input :password, required: true, placeholder: "********",hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),label: false %>
    <hr/>
    <%= f.label :password_confirmation,"Password Confirmation", class: "highlight-label"%>
    <%= f.input :password_confirmation, required: true,placeholder: "********",label: false %>
  </div>
  <hr/>
  <div class="form-actions">
    <%= f.button :submit, "Sign up" ,class: "col-sm-12 btn btn-primary btn-sm" %>
  </div>
<% end %>
  <br/>
  <br/>
  <hr/>
  <div class="form-actions">
  <%= link_to "Log in", new_session_path(resource_name) ,class: "col-sm-12 btn btn-success btn-sm" %>
  </div>
</div> 
</div>
</div>