

<p>
  <strong>Member:</strong>
  <%= @fee_detail.member_id %>
</p>

<p>
  <strong>Date of Paying Fee:</strong>
  <%= @fee_detail.fee_date %>
</p>

<p>
  <strong>Total Fee amount:</strong>
  <%= @fee_detail.fee_amount %>
</p>

<p>
  <strong>Pending fee:</strong>
  <%= @fee_detail.pending_fee %>
</p>

<p>
  <strong>Fee paid:</strong>
  <%= @fee_detail.fee_paid %>
</p>

<%= link_to 'Edit', edit_fee_detail_path(@fee_detail) %> |
<%= link_to 'Back', fee_details_path %>
