
<div class="col-xs-12">
<%= simple_form_for @member, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :name %>
  
  <%= f.input :admission_date %>
  
  <%= f.input :status %>
  
  <%= f.input :amount,as: :radio_buttons,collection: [['500',500],['400',400],['1100',1100],['1000',1000]] %>
  

  <%= f.button :submit, :class => 'btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                members_path, :class => 'btn btn-default' %>
<% end %>
</div>
