<div>
    <hr/>
    <p><strong>Note:</strong>Here You can change the members Last Fee Date and Next Fee Date.</p>
    <p><strong>Note:</strong>Make sure to select the date.</p>
    <div class="row">   
        <div class="col-xs-12" >
            <div class="page-header">
            <h4>Member Details</h4>
            </div>
            <p><strong>Member Name : </strong><%= @member.name %></p>
            <p><strong>Admission Date : </strong><%= @member.admission_date %></p>
            <p><strong>Last Fee Date: </strong><%= @member.last_fee_date %></p>
            <p><strong>Next Fee Date : </strong><%= @member.next_fee_date %></p>
        </div>
    </div> 
    <div class="row">   
        <div class="col-xs-10 col-xs-offset-1 form-custom" >
            <div class="page-header"><h4>Fill the form (Regular Member)</h4></div>
            <%= simple_form_for @member,url: {:controller => 'members',:action => 'member_reset',:id => @member},method: :post, :html => { :class => 'form-horizontal' } do |f| %>
              <%= f.input :last_fee_date ,label: "Set The last fee date ",hint: "You have select the date otherwise today's date will be set" %>
               <%= f.input :next_fee_date ,label: "Set The last fee date ",hint: "You have select the date otherwise today's date will be set" %>
              <%= f.input :status,as: :select,collection: [['Unpaid','Unpaid'],['Paid','Paid']],include_blank: false,prompt: "Please Select Status or it will be automatically set" %>
              <%= f.input :amount,as: :select,collection: [['400',400],['1000',1000]],include_blank: false %>
              
            <hr/>
              <%= f.button :submit, :class => 'btn-primary btn-sm' %>
              <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                            members_path, :class => 'btn btn-default btn-sm' %>
            <% end %>
        </div>
    </div>
</div>   <!--for setting the dates