<script>
$(document).ready(function(){
$('#new').click(function(){
   
    if($('.containernew').css("display") == "block" )
    {
    $('.containerold').hide();
    $('.containerreset').hide();
    $('.containernew').hide();
    
    }
    else
    {
      $('.containerold').hide();
      $('.containerreset').hide();
      $('.containernew').show();
    }
});
$('#old').click(function(){
    if($('.containerold').css("display") == "block")
    {
    $('.containerold').hide();
    $('.containerreset').hide();
    $('.containernew').hide();
    }
    else
    {
     $('.containerreset').hide();
     $('.containernew').hide();
     $('.containerold').show();
    }
});
$('.reset').click(function(){
    if($('.containerreset').css("display") == "block")
    {
     $('.containerold').hide();
    $('.containerreset').hide();
    $('.containernew').hide();
    }
    else
    {
     $('.containernew').hide();
      $('.containerold').hide();
    $('.containerreset').show();
    
    }
});
});
</script>
<div class="row page-header text-center">
    <h4>Fee Pay Section</h4>    
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="col-xs-4">
            <button id="new">New Member</button> 
        </div>  
        <div class="col-xs-4 ">
            <button class="reset">Reset Member</button> 
        </div>
        
        <div class="col-xs-4">
            <button id="old">Regular Member</button>   
        </div> 
    </div>
</div>

<div class="containernew" style="display:none;">
    <hr/>
    <p><strong>Note:</strong>You have clicked on New member button</p>
    <div class="row">
        <div class="col-xs-12">
            <div class="page-header">
            <h4>New Members Fee</h4>
            </div>
            <p><strong>Member Name : </strong><%= @member.name %></p>
            <p><strong>Admission Date : </strong><%= @member.admission_date %></p>
        </div>
    </div> 
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 form-custom"> 
            <div class="page-header"><h4>Fill the form (New Member)</h4></div>
            <%= simple_form_for @member,url: {:controller => 'members',:action => 'fee_pay_new',:id => @member},method: :post, :html => { :class => 'form-horizontal' } do |f| %>
              
              <%= f.input :status,as: :select,collection: [['Unpaid','Unpaid'],['Paid','Paid']],include_blank: false,prompt: "Please Select Status or it will be automatically set" %>
              <%= f.input :amount,as: :select,collection: [['500',500],['1100',1100]],include_blank: false,prompt: "Please select the amount" %>
              
            <hr/>
              <%= f.button :submit, :class => 'btn-primary btn-xs' %>
              <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                        {:controller => 'members',:action=> 'fee_pay',:id =>@member}, :class => 'btn btn-default btn-sm' %>
              
            <% end %>
           
        </div>
    </div>
    <div class="row">
        <hr/>
        <button class="reset">Reset the Members Date</button> 
    </div>
      
</div>


<div class="containerold" style="display:none;">
    <hr/>
    <p><strong>Note:</strong>You have clicked on Regular member button</p>
    <div class="row">   
        <div class="col-xs-12" >
            <div class="page-header">
            <h4>Regular Members</h4>
            </div>
            <p><strong>Member Name : </strong><%= @member.name %></p>
            <p><strong>Admission Date : </strong><%= @member.admission_date %></p>
        </div>
    </div> 
    <div class="row">   
        <div class="col-xs-10 col-xs-offset-1 form-custom" >
            <div class="page-header"><h4>Fill the form (Regular Member)</h4></div>
            <%= simple_form_for @member,url: {:controller => 'members',:action => 'fee_pay_regular',:id => @member},method: :post, :html => { :class => 'form-horizontal' } do |f| %>
              
              <%= f.input :status,as: :select,collection: [['Unpaid','Unpaid'],['Paid','Paid']],include_blank: false,prompt: "Please Select Status or it will be automatically set" %>
              <%= f.input :amount,as: :select,collection: [['400',400],['1000',1000]],include_blank: false %>
              
            <hr/>
              <%= f.button :submit, :class => 'btn-primary btn-sm' %>
              <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                        {:controller => 'members',:action=> 'fee_pay',:id =>@member}, :class => 'btn btn-default btn-sm' %>
            <% end %>
            
        </div>
    </div>
    <div class="row">
        <hr/>
        <button class="reset">Reset the Members Date</button> 
    </div>
</div>            <!-- container for new member -->

<div class="containerreset" style="display:none;">
    <hr/>
    <p><strong>Note:</strong>You have clicked on Reset member button</p>
    <div class="row">   
        <div class="col-xs-12" >
            <div class="page-header">
            <h4>Member Details</h4>
            </div>
            <p><strong>Member Name : </strong><%= @member.name %></p>
            <p><strong>Admission Date : </strong><%= @member.admission_date %></p>
            <p><strong>Last Fee Date: </strong><%= @member.last_fee_date %></p>
            <p><strong>Next Fee Date : </strong><%= @member.next_fee_date %></p>
        </div>
    </div> 
    <div class="row">   
        <div class="col-xs-10 col-xs-offset-1 form-custom" >
            <div class="page-header"><h4>Fill the form (Regular Member)</h4></div>
            <%= simple_form_for @member,url: {:controller => 'members',:action => 'member_reset',:id => @member},method: :post, :html => { :class => 'form-horizontal' } do |f| %>
              <%= f.input :last_fee_date ,label: "Set The last fee date ",hint: "You have select the date otherwise today's date will be set" %>
               <%= f.input :next_fee_date ,label: "Set The last fee date ",hint: "You have select the date otherwise today's date will be set" %>
              <%= f.input :status,as: :select,collection: [['Unpaid','Unpaid'],['Paid','Paid']],include_blank: false,prompt: "Please Select Status or it will be automatically set" %>
              <%= f.input :amount,as: :select,collection: [['400',400],['1000',1000]],include_blank: false %>
              
            <hr/>
              <%= f.button :submit, :class => 'btn-primary btn-sm' %>
              <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                        {:controller => 'members',:action=> 'fee_pay',:id =>@member}, :class => 'btn btn-default btn-sm' %>
            <% end %>
        </div>
    </div>
</div>   <!--for setting the dates
