<script type="text/javascript">
$(function(){
  $("#search-member-autocomplete").autocomplete({
    source: '<%= autocomplete_members_path(:json) %>'
  })
})
</script>
<%- model_class = Member -%>
<div class="page-header">
  <h3>Upcoming Fees</h3>
</div>
<%= form_tag members_path, :method => 'get' do %>
        
        <div>
        <div >Name of member: </div>
            <%= text_field_tag :search, params[:search],id: 'search-member-autocomplete' %>
            <%= submit_tag "Search", :name => nil %>
       </div>
<% end %>
<hr/>
<table class="table table-responsive table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      
      <th><%= model_class.human_attribute_name(:next_fee_date) %></th>
      <th><%= model_class.human_attribute_name(:status) %></th>
      
      
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td><%= link_to member.id, member_path(member) %></td>
        <td><%= member.name %></td>
        
        <td><%= member.next_fee_date.strftime("%d-%m-%Y") %></td>
        <td><%= member.status %></td>
        
        <td>
          <% if member.next_fee_date < Date.today || member.Unpaid? %>
          <%= link_to 'Fee Pay',
                      {:controller =>'members',:action => 'fee_pay' , :id => member}, :class => 'btn btn-default btn-xs' %>
          <% end %>
         
          
        
          
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      member_path(member),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_member_path,
            :class => 'btn btn-primary' %>
